<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Watch Movies App</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Watch Movies App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/addmovie">Add Movie</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>

  <div class="container">
    <p>Welcome, <%= user.username %> (<%= user.role %>)</p>
    <br>
    <div class="text-center"><h2>Movies from Watch Movies App Database</h2></div>
    <br>
    <table class="table table-hover small text-center">
      <thead>
          <tr>
            <th width="100">Movie Name</th>
            <th width="100">Movie Image</th>
            <th width="50">Release Date</th>
            <th width="50">Genre</th>
            <th width="50">Edit</th>
            <th width="50">Delete</th>
          </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < movies.length; i++) { %>
          <tr>
            <td><a href="/movie/<%= movies[i].movieId %>" ><%= movies[i].movieName %></a></td>
            <td><img src = "images/<%= movies[i].image %>" width="20%"></td>
            <td><%= new Date(movies[i].release_date).toDateString() %></td>
            <td><%= movies[i].genre %></td>
            <!-- Edit Link -->
            <td><a href="/updateMovie/<%= movies[i].movieId %>">Edit</a></td>
            <!-- Delete Link -->
            <td>
                <form action="/deleteMovie/<%= movies[i].movieId %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this product?');">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
