<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Movie List</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Watch Movies App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/watched">View watched movies</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>

  <div class="container">
    <p>Welcome, <%= user.username %> (<%= user.role %>)</p>
    <br>
    <div class="text-center"><h2>Movies from Watch Movies</h2></div>
    <br>
    <table class="table table-hover small text-center">
      <thead>
          <tr>
            <th width="100">Movie Name</th>
            <th width="100">Movie Image</th>
            <th width="80">Release Date</th>
            <th width="50">Genre</th>
            <th width="50">Watched</th>
          </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < movies.length; i++) { %>
          <tr>
            <td><a href="/movie/<%= movies[i].movieId %>" ><%= movies[i].movieName %></a></td>
            <td><img src = "images/<%= movies[i].image %>" width="20%"></td>
            <td><%= new Date(movies[i].release_date).toDateString() %></td>
            <td><%= movies[i].genre %></td>
            <!-- <td>
              <select id="role" name="role" class="form-control" >
                <option value="1" selected >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
                <option value="5" >5</option>
              </select>
            </td> -->
            <!-- Buy Link -->
            <!-- <td><a href="/buyProduct/<%#= products[i].productId %>" class="btn btn-primary mt-3">Buy</a></td> -->
          

            <td>
                <form action="/add-to-watched/<%= movies[i].movieId %>" method="POST">
                
                  <button type="submit" class="btn btn-primary mt-3">Watched</button>
                </form>
            </td>

          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
